* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Helvetica;
}

.header,
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fe1a19;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.header {
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foter-left {
  margin-left: 20px;
}

.footer-right {
  margin-right: 20px;
}

.main-caption {
  font-size: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-portion {
  width: 400px;
  margin-top: 52px;
  margin-bottom: 52px;
  border: 5px solid #e5e000;
  border-radius: 30px;
  box-sizing: border-box;
}

.left-column {
  margin-left: 70px;
}

.right-column {
  margin-right: 70px;
}

.text-portion-caption {
  margin-top: 33px;
  margin-left: 33px;
  margin-bottom: 41px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.text-portion-list {
  list-style-type: none;
  margin-left: 33px;
}

.sublist {
  list-style-type: none;
  margin-bottom: 20px;
}

.list-item-caption {
  color: #000;
  font-family: Times New Roman;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sublist-item {
  color: #000;
  font-family: Times New Roman;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
